@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 77%;
  margin: auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (prefers-color-scheme: dark) {
  /* Dark mode styles */
  :root {
    background-color: rgb(17 24 39 / 1);
  }
}

@media (prefers-color-scheme: light) {
  /* Light mode styles */
}
