:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Container component */
.container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
/* Card component */
.card {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  background-color: white;
  max-height: 40rem;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}
.card.active {
  background: tomato;
  color: white;
}
.card p {
  height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card h3 {
  height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-image {
  width: 100%;
  height: 12rem;
}
.card-image > img {
  max-height: 11rem;
  max-width: 100%;
}

/* Search Input Component */

.search-input {
  display: flex;
}

.search-input > input {
  flex-grow: 1;
  padding: 1rem;
}

/* Pagination Component */

.pagination button.active {
  background: grey;
  cursor: default;
}

.pagination button.active:hover {
  border: none;
}

/* Products Page */
.products-section {
  display: flex;
  gap: 1rem;
}

.products-section .product-details {
  flex: 45%;
  position: relative;
}

table {
  border-collapse: collapse;
  text-align: left;
  text-wrap: balance;
}
td {
  padding: 0.5 rem;
  border: 1px solid lightblue;
}

td.feature-name {
  width: 3rem;
}

td.feature-value {
  width: 20rem;
  overflow-wrap: pretty;
}

table {
  font-family: sans-serif;
  font-size: 16px;
  border-collapse: collapse;
  color: black;
}

th {
  background-color: #eee;
  font-size: 1.2em;
}

td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #ddd;
}
.products-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.w-100 {
  width: 100%;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 3rem;
}

.product-details-data {
  margin-top: 4rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  z-index: 100; /* Adjust the z-index to ensure it's above the section content */
  display: none; /* Initially hidden */
}

.overlay.active {
  display: block;
  cursor: pointer;
}

.products-list-wrapper {
  width: 100%;
  position: relative;
}
